<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         <!--div class="overlap-group"-->
           
         <!--/div-->
         <koondind7-component></koondind7-component>
         
         
       </div>
       
     

</div>
     
   </div>
   <div class="tekstjanupp">
     <p class="ettev-te-on-k-rge">
       <span class="span">Ettevõte on </span>
       <span class="text-wrapper-5">kõrge elujõulisusega. </span>
       <span class="span"
         >Võrreldes teiste sarnaste ettevõtetega prognoosib rakendus kõrgemat maksevõimet ja finantsvõimendust,
         kuid madalamaid tasuvuse ja töökulude tootlikkuse näitajaid.</span
       >
     </p>
     <div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div>  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>