<p class="tekstike">
  Hetkeolukord sinu ettevõttes
  </p>
  <yld3-component></yld3-component>
  <br><br>
  <br>
  <p class="tekstikev">
    Mis infot me sinu ettevõtte hetkeolukorra kohta teame
    </p>
   
    <p class="tekstike2">
     Sinu ettevõtte kohta teame, et üldine elujõud "keskmine" (kas nominaalnumber jäi sisse või mitte?). Ettevõttel on suhteliselt kõrge (hea) efektiivsus ja maksevõime. Finantsvõimendus on ohtlikult kõrge. Tasuvus on keskpärane, töökulude tootlikkus on ohtlikult madal.  Kokkuvõttes on suhteliselt positiivne olukord (see kirjeldus peaks olema natuke pikem, kui avalelehe short summary, kuid andma siiski kokkuvõtte).
      </p>