<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Hinnang finantsvõimendusele elujõulisuse kaudu
          </div>
          <br>
          <br>
          <div class="tekstike2"> 
            Võrreldes teiste sarnaste ettevõtetega on ettevõtte finantsvõimendus madalam/samal tasemel/kõrgem. See tähendab, et ettevõtte võime tasuda lühi- ja pikaajalisi kohustusi on ohustatud/keskpärane/tagatud. Finantsvõimenduse ehk kapitali struktuuri suhtarvud näitavad, kui palju kasutab ettevõte laenukapitali ehk ettevõtte võimet tasuda lühi- ja pikaajalisi kohustusi. Laenukapitali ehk võõrkapitali hulka kuuluvad näiteks võetud laenud, ettevõtja emiteeritud ja kaubeldavad võlakohustised ning rahaturuinstrumendid. 
          </div>
           
         </div>
         
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
  
       <graaf7></graaf7>
  
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>