<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Hinnang maksevõimele elujõulisuse kaudu
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
        Võrreldes teiste sarnaste ettevõtetega on ettevõtte maksevõime madalam/samal tasemel/kõrgem. Lühiajalise maksevõime ehk likviidsussuhtarvud näitavad ettevõtte võimet katta oma lühiajalisi kohustusi. Teisisõnu, kas ettevõttel on piisavalt raha võlgnevuste tasumiseks. Maksevõimet aitab tõsta see, kui lühiajalisi kohustusi vähendatakse rohkem (või suurendatakse vähem) kui käibevara sh. , raha, likviidseid väärtpabereid ja/või laekumata arveid.
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       

     <graaf6></graaf6>

     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>