<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Hinnang efektiivsusele elujõulisuse kaudu
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
          Võrreldes teiste sarnaste ettevõtetega  on ettevõtte efektiivsus madalam/samal tasemel/kõrgem. See tähendab, et võrreldes teiste sarnaste ettevõtetega kasutatakse varadesse investeeritud vahendeid ebaefektiivsemalt/samal tasemel/efektiivsemalt. Efektiivsust aitab tõsta see, kui müügitulu suurendatakse rohkem (või vähendatakse vähem) kui keskmist vara, <span class="span">debitoorset võlgnevust</span> lühiajalise nõudeid ja/või varusid.
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       

     <graaf5></graaf5>

     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>