<div class="frame">

  <div class="div-3">
    <div class="frame-wrapper">
      <div class="div-4">
        <div class="div-5">
          <div class="ellipse-2"></div>
          <div class="text-wrapper-6">Maksevõime</div>
        </div>
        <p class="element-aastal-muutuva">
          <span class="text-wrapper-7">Kõrge<br /></span> <span class="text-wrapper-8">tõenäosus 56%</span>
        </p>
      </div>
    </div>
    <div class="frame-wrapper">
      <div class="div-4">
        <div class="div-5">
          <div class="ellipse-2"></div>
          <div class="text-wrapper-6">Effektiivsus</div>
        </div>
        <p class="element-aastal-muutuva">
          <span class="text-wrapper-7">Kõrge<br /></span> <span class="text-wrapper-8">tõenäosus 45%</span>
        </p>
      </div>
    </div>
    <div class="div-wrapper">
      <div class="div-4">
        <div class="div-5">
          <div class="ellipse-3"></div>
          <div class="text-wrapper-9">Struktuur</div>
        </div>
        <p class="element-aastal-muutuva">
          <span class="text-wrapper-7">Keskmine<br /></span> <span class="text-wrapper-8">tõenäosus 60%</span>
        </p>
      </div>
    </div>
    <div class="div-wrapper">
      <div class="div-4">
        <div class="div-5">
          <div class="ellipse-3"></div>
          <div class="text-wrapper-9">Tasuvus</div>
        </div>
        <p class="element-aastal-muutuva">
          <span class="text-wrapper-7">Keskmine<br /></span> <span class="text-wrapper-8">tõenäosus 60%</span>
        </p>
      </div>
    </div>
    <div class="frame-wrapper-2">
      <div class="div-4">
        <div class="div-5">
          <div class="ellipse-4"></div>
          <div class="text-wrapper-10">Töökulude tootlikus</div>
        </div>
        <p class="element-aastal-muutuva">
          <span class="text-wrapper-7">Madal<br /></span> <span class="text-wrapper-8">tõenäosus 70%</span>
        </p>
      </div>
    </div>
  </div>

</div>